header {

}

header nav {
}

header nav ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: end;
	margin-right: 10px;
}

header nav ul li {
	padding: 10px;
}

header nav ul li a {
}
